/**
 *  Button
 *  -------------------------
 */

@import 'variables';

.button {
	font-size: $t_font-size_medium;
	font-weight: $t_font-weight_bold;
	text-align: center;
	text-decoration: none;
	color: $c_white;
	background-color: $c_black;
	border: 1px solid $c_white;
	padding: 10px 25px;
	border-radius: $d_border-radius_rounded;
	transition-duration: $a_duration_default;
}

.button--small {
	font-size: $t_font-size_smaller;
	padding: 5px 12px;
}

.button--primary {
	color: $c_white;
	background-color: $c_secondary;
	border-color: $c_white;
}

.button--primary:hover {
	color: $c_secondary;
	background-color: $c_white;
	border-color: $c_secondary;
}

.button--primary--invert {
	color: $c_secondary;
	background-color: $c_white;
	border-color: $c_secondary;
}

.button--primary--invert:hover {
	color: $c_white;
	background-color: $c_secondary;
	border-color: $c_white;	
}
