/**
 *  Variables
 *  -------------------------
 */

/* --- COLORS --- */
$c_white: #FFF;             // White
$c_black: #000;             // Black

$c_primary: #1976D2;        // Denim-blue
$c_secondary: #FFA726;      // Sunshade-orange
$c_tertiary: #FFFFFF;       // White
$c_accent: #000000;         // Black

/* --- TYPOGRAPHY - FONT-FAMILY -- */
$t_font-family_default: 'Roboto', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* --- TYPOGRAPHY - FONT-SIZE -- */
$t_font-size_xxlarge: 28px;
$t_font-size_xlarge: 24px;
$t_font-size_large: 20px;
$t_font-size_medium: 16px;
$t_font-size_small: 14px;
$t_font-size_smaller: 12px;

/* --- TYPOGRAPHY - FONT-WEIGHT -- */
$t_font-weight_heavy: 900;
$t_font-weight_bold: 700;
$t_font-weight_medium: 500;
$t_font-weight_light: 400;
$t_font-weight_lighter: 300;

/* --- TYPOGRAPHY - LINE-HEIGHT -- */
$t_line-height_default: 1.5;

/* --- DIMENSIONS - BORDER-RADIUS -- */
$d_border-radius_default: 2px;
$d_border-radius_rounded: 5px;
$d_border-radius_circle: 50%;

/* --- ANIMATIONS - DURATION -- */
$a_duration_default: 0.2s;

/* --- BREAKPOINTS -- */
$br_xlarge: 750px;
$br_large: 600px;
$br_medium: 500px;
$br_small: 400px;
