/**
 *  Variables
 *  -------------------------
 */

/* --- COLORS --- */
$c_white: #FFF;
$c_black: #000;

$c_blue_normal: #1976D2;

/* --- TYPOGRAPHY - FONT-FAMILY -- */
$t_font-family_default: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* --- TYPOGRAPHY - FONT-SIZE -- */
$t_font-size_xlarge: 22px;
$t_font-size_large: 18px;
$t_font-size_medium: 14px;

/* --- TYPOGRAPHY - FONT-WEIGHT -- */
$t_font-weight_bolder: 900;
$t_font-weight_bold: 700;
$t_font-weight_normal: 500;

/* --- TYPOGRAPHY - LINE-HEIGHT -- */
$t_line-height_default: 1.5;

/* --- DIMENSIONS - BORDER-RADIUS -- */
$d_border-radius_default: 2px;
$d_border-radius_circle: 50%;
