/**
 *  Variables
 *  -------------------------
 */

/* --- COLORS --- */
$c_white: #FFF;
$c_black: #000;

/* --- TYPOGRAPHY - FONT-SIZE -- */
$t_font-family_default: 'Avenir', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* --- TYPOGRAPHY - FONT-SIZE -- */
$t_font-size_xlarge: 22px;

/* --- TYPOGRAPHY - FONT-WEIGHT -- */
$t_font-weight_bolder: 900;
$t_font-weight_bold: 700;
$t_font-weight_normal: 500;

/* --- DIMENSIONS - BORDER-RADIUS -- */
$d_border-radius_default: 2px;
$d_border-radius_circle: 50%;
