@import './../../styles/partials/variables';

:host {
	display: block;
	padding: 1.5rem 0rem;
	color: $c_black;
	background-color: $c_white;
	box-shadow: 1px 1px 10px #333;

	.sportItem__title {
		font-size: $t_font-size_large;
		margin: 0;
	}

	.sportItem__img {
		max-height: 120px;
		display: block;
		margin: 10px auto;
	}
}
