@import './../../styles/partials/variables';

:host {
	display: block;
	padding: 1.5rem 0rem;
	border: 1px solid white;
	border-radius: 10px;

	.sportItem__title {
		font-size: $t_font-size_large;
		margin: 0;
	}

	.sportItem__img {
		max-height: 100px;
		display: block;
		margin: 10px auto;
	}
}
