@import './../../styles/partials/variables';

:host {
	display: block;
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: left;

	@media screen and (max-width: $br-xlarge) {
		width: 100%;
	}

	@media screen and (max-width: $br-large) {
		height: 100px;
		text-align: center;
	}

	.header__title {
		float: left;
		cursor: pointer;

		@media screen and (max-width: $br-large) {
			margin-bottom: 25px;
			float: none;
		}
	}

	.header__loggedOut {
		float: right;

		@media screen and (max-width: $br-large) {
			float: none;
		}
	}

	.header__loggedIn {
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: $br-large) {
			justify-content: center;
		}

		.header__profilePicture {
			height: 40px;
			width: 40px;
			margin-right: 10px;
			border-radius: $d_border-radius_circle;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				min-height: 100%;
			}
		}

		.header__username {
			margin-right: 10px;
		}
	}
}
