<div class="header__info">
	<img class="header__logo" src="{{ logo }}" />
	<h1 class="header__title"><a [routerLink]="'/'">{{ title }}</a></h1>	
</div>

<div class="header__loggedIn" *ngIf="currentUser !== null">
	<div class="header__profilePicture">
		<img src="{{ currentUser.picture }}" />
	</div>
	<p class="header__username">{{ currentUser.name }}</p>	
	<button class="button button--primary" (click)="onLogoutClick()">Logout</button>
</div>

<div class="header__loggedOut" *ngIf="currentUser === null">
	<button class="button button--primary" (click)="onLoginClick()"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login</button>
</div>
