@import './../../styles/partials/variables';

:host {
	display: flex;
	margin-bottom: 25px;

	@media screen and (max-width: $br-xlarge) {
		width: 100%;
	}

	@media screen and (max-width: $br-large) {
		height: 100px;
		text-align: center;
	}

	.header__info {
		display: flex;
		align-items: center;
		flex-grow: 1;

		.header__logo {
			width: 100%;
			height: auto;
			max-width: 40px;
			margin-right: 15px;
		}

		.header__title {
			a {
				font-weight: $t_font-weight_bold;
			}

			@media screen and (max-width: $br-large) {
				margin-bottom: 25px;
				float: none;
			}
		}		
	}


	.header__loggedOut {
		@media screen and (max-width: $br-large) {
			float: none;
		}
	}

	.header__loggedIn {
		display: flex;
		align-items: center;

		@media screen and (max-width: $br-large) {
			justify-content: center;
		}

		.header__profilePicture {
			height: 40px;
			width: 40px;
			margin-right: 10px;
			border-radius: $d_border-radius_circle;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				min-height: 100%;
			}
		}

		.header__username {
			margin-right: 10px;
		}
	}
}
