:host {
	.locations__list {
		padding: 0;
	}

	.locations__item {
		list-style-type: none;
	}

	.spinner__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		max-width: 75px;
		max-height: 75px;
	}
}
