@import './../../styles/partials/variables';

:host {
	.detail__header {
		display: flex;
		justify-content: center;
		align-items: center;

		.sport__img {
			max-width: 35px;
			height: auto;
			width: 35px;
			margin-right: 15px;
		}
	}

	.locations__loaded {
		margin: 25px 0;

		.locations__map {
			display: block;
			float: left;
			width: 47.5%;
			height: 400px;
			margin-right: 5%;

			@media screen and (max-width: $br-xlarge) {
				float: none;
				width: 100%;
				margin: 0 auto;
				margin-bottom: 25px;
			}
		}

		.locations__list {
			display: flex;
			flex-wrap: wrap;
			float: right;
			width: 47.5%;
			height: 400px;
			padding: 0;
			overflow-y: scroll;

			@media screen and (max-width: $br-xlarge) {
				float: none;
				width: 100%;
			}

			.locations__item {
				width: 48%;
				padding: 10px;
				margin: 0 1% 2% 1%;
				color: $c_black;
				background-color: $c_white;
				box-shadow: 1px 1px 3px #333;
				overflow: hidden;

				@media screen and (max-width: $br-medium) {
					width: 100%;
				}

				.location__name {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.location__distance {
					font-size: $t_font-size_smaller;
					font-weight: $t_font-weight_lighter;
				}

				.location__mapButton {
					margin-top: 5px;
				}
			}
		}

		.button__currentLocation {
			display: block;
			margin: 0 auto;
			margin-bottom: 25px;
		}
	}
}
