<h1>{{ sport.name }}</h1>

<div class="locations__loading" *ngIf="locations.length === 0">
	<spinner></spinner>	
</div>

<div class="locations__loaded" *ngIf="locations.length !== 0">
	<sports-map class="locations__map" [locations]="locations" [lat]="lat" [long]="long"></sports-map>
	<ul class="locations__list">
		<li class="locations__item" *ngFor="let location of locations">
			<p class="location__name">{{ location.name }}</p>
			<p class="location__distance" *ngIf="location.distance">{{ location.distance }}km</p>
			<button class="button button--primary button--small location__mapButton" (click)="showLocationOnMap(location)"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
		</li>
	</ul>
	<button class="button button__currentLocation button--primary" (click)="findCurrentLocation()"> Find my location</button>
</div>
