:host {
	.locations__loaded {
		margin: 25px 0;
		height: 400px;

		.locations__map {
			float: left;
			width: 47.5%;
			height: 100%;
			margin-right: 5%;
		}

		.locations__list {
			float: right;
			width: 47.5%;
			height: 100%;
			padding: 0;
			overflow-y: scroll;

			.locations__item {
				list-style-type: none;
			}
		}
	}
}
