@import './../../styles/partials/variables';

:host {
	display: block;
	margin-bottom: 25px;

	button {
		width: 150px;
	}

	.button__sports {
		border-radius: $d_border-radius_rounded 0 0 $d_border-radius_rounded;
	}

	.button__activities {
		border-radius: 0 $d_border-radius_rounded $d_border-radius_rounded 0;
	}
}
