<div class="shareModal__header">
	<h1>Share your activity</h1>
</div>

<div class="shareModal__content">
	<div class="shareModal__name">
		<label>Name:</label>
		<input [(ngModel)]="activity_name" type="text"/>
	</div>
	<div class="shareModal__description">
		<label>Description:</label>		
		<input [(ngModel)]="activity_description" type="text"/>
	</div>	
</div>

<div class="shareModal__footer">
	<button class="button button--primary" (click)="onSubmit()">Share</button>
	<button class="button button--primary--invert" (click)="onCancel()">Cancel</button>
</div>
