<div class="activity__profilePicture">
	<img src="{{ activity.user.picture }}" />
</div>

<div class="activity__info">
	<p><span class="activity__name">{{ activity.user.name }}</span> is planning a <span class="activity__location">{{ activity.sport.toLowerCase() }}</span> activity</p>
	<p>{{ activity.name }} @ {{ activity.location }}</p>
	<p class="activity__description">{{ activity.description }}</p>
</div>

<div class="activity__time">
	<p>{{ activity.date | date:'dd/MM/y' }}</p>
	<p>{{ activity.date | date:'HH:mm' }}</p>
</div>
