@import './../../styles/partials/variables';

:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 15px;
	color: $c_black;
	background-color: $c_white;
	box-shadow: 1px 1px 10px #333;
	text-align: left;
	font-size: $t_font-size_small;
	font-weight: $t_font-weight_light;

	.activity__profilePicture {
		height: 50px;
		width: 50px;
		margin-right: 15px;
		border-radius: $d_border-radius_circle;
		overflow: hidden;
		flex-shrink: 0;

		img {
			width: 100%;
			height: auto;
			min-height: 100%;
		}
	}

	.activity__info {
		flex-grow: 1;

		.activity__username, .activity__sport, .activity__name {
			font-weight: $t_font-weight_bold;
		}

		.activity__description {
			font-style: italic;
		}
	}

	.activity__time {
		text-align: center;
		font-size: $t_font-size_smaller;
	}
}
