@import './../../styles/partials/variables';

:host {
	border-radius: $d_border-radius_rounded;
	overflow: hidden;
	
	.sportsMap {
		width: 100%;
		height: 100%;

		.marker__text {			
			color: $c_black;
			font-weight: $t_font-weight_bold;
		}
	}
}
