<sebm-google-map
	class="sportsMap"
	[latitude]="lat || centerLat"
	[longitude]="long || centerLong"
	[zoom]="zoom || defaultZoom">
	<div *ngFor="let location of locations">
		<sebm-google-map-marker
			*ngIf="location.geo.lat && location.geo.long"
			[latitude]="location.geo.lat"
			[longitude]="location.geo.long">
			<sebm-google-map-info-window [disableAutoPan]="true">
				<p class="marker__text">{{ location.name }}</p>
			</sebm-google-map-info-window>
		</sebm-google-map-marker>
	</div>
</sebm-google-map>
